---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $FONT-SIZE-DESKTOP;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include media-query(MOBILE) {
    font-size: $FONT-SIZE-MOBILE;
  }
}

body {
  --color-bg: #{$COLOR-BACKGROUND-DARK};
  &.manual { --color-bg: #{$COLOR-BACKGROUND-LIGHT}; }

  margin: 0 auto;
  padding: 0;
  background-color: var(--color-bg);
  color: $COLOR-TEXT;
  font-family: $FONT-TEXT;
  font-weight: 300;
  box-sizing: border-box;
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration: line-through; }

a {
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 0;
  padding: 0 4vw;
  margin: 0 0 10vh;
  background-color: var(--color-bg);
  box-sizing: border-box;
  text-align: center;

  &.manual {
    color: $COLOR-WHITE;
    a { color: $COLOR-WHITE; }
  }

  .logo-mincul-wrapper {
    width: 20%;
    margin: 48px auto;

    @include media-query(MOBILE) {
      width: 40%;
    }

    .logo-mincul {
      width: 100%;
      padding-bottom: 34.6%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url({{ site.baseurl }}/images/logoMINCUL.png);
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  padding: 2vh 2vw;
  box-sizing: border-box;
  z-index: 10;
  color: $COLOR-WHITE;
  a { color: $COLOR-WHITE; }

  &.manual {
    .footer-right-item.manual {
      color: $COLOR-BACKGROUND-DARK;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;

    &.este, &.oeste, &.cielo, &.suelo {
      color: $COLOR-RED;
    }

    .footer-left-title {
      padding: 0;
      padding-right: 12px;
      text-transform: uppercase;
      font-weight: bold;

      &.este::before { content: "este"; }
      &.oeste::before { content: "oeste"; }
      &.cielo::before { content: "cielo"; }
      &.suelo::before { content: "suelo"; }
    }

    .footer-left-time {
      padding: 0;
      padding-left: 12px;
      &.este::before { content: "abierto de 04:00 a 10:00 GMT-5"; }
      &.oeste::before { content: "abierto de 16:00 a 22:00 GMT-5"; }
      &.cielo::before { content: "abierto de 22:00 a 04:00 GMT-5"; }
      &.suelo::before { content: "abierto de 10:00 a 16:00 GMT-5"; }
    }
  }

  .footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;

    .footer-right-item {
      width: 20%;
      padding: 0;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &.plus::before { content: "+"; }
      &.plus:hover::before { content: "información & créditos"; }

      &.manual::before {
        content: "manual del aire";
        text-transform: uppercase;
      }

      &.manual:hover::before {
        content: "publicación impresa";
        text-transform: none;
      }
    }

    .footer-right-item + .footer-right-item {
      padding-left: 24px;
    }
  }
}

.frame-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 4;
  pointer-events: none;

  .frame-top {
    width: 100%;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-color: var(--color-bg);

    background-image: url({{ site.baseurl }}/images/frame-top-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-top-M.png);
    }
    @include media-query(MOBILE) {
      padding-bottom: 10.68%;
      background-image: url({{ site.baseurl }}/images/frame-top-S.png);
    }
  }

  .frame-middle {
    width: 100%;
    flex: 1;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    background-image: url({{ site.baseurl }}/images/frame-middle-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-middle-M.png);
    }
    @include media-query(MOBILE) {
      background-image: url({{ site.baseurl }}/images/frame-middle-S.png);
    }
  }

  .frame-bottom {
    width: 100%;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    background-color: var(--color-bg);

    background-image: url({{ site.baseurl }}/images/frame-bottom-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-bottom-M.png);
    }
    @include media-query(MOBILE) {
      padding-bottom: 10.68%;
      background-image: url({{ site.baseurl }}/images/frame-bottom-S.png);
    }
  }

  .frame-bottom-background {
    width: 100%;
    height: 3vh;
    background-color: var(--color-bg);
  }
}

.manual-table {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 8vh auto 10vh;
  box-sizing: border-box;

  @include media-query(MOBILE) {
    flex-direction: column;
  }

  .manual-table-image-wrapper {
    width: 50%;
    padding: 0 8vw;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      width: 80%;
      margin: 0 auto 24px;
    }

    .manual-table-image {
      width: 100%;
      padding-bottom: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url({{ site.baseurl }}/images/manual-0.png);

      &:hover {
        background-image: url({{ site.baseurl }}/images/manual-1.png);
      }
    }
  }

  .manual-table-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      width: 80%;
      margin: 0 auto;
    }

    .manual-table-info-list {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      padding-inline-start: unset;

      li {
        list-style-type: none;
        margin: 0;
        padding: 2px 8px;
        text-align: left;
        border: 1px solid $COLOR-WHITE;
      }
      li + li {
        border-top: none;
      }
    }

    .manual-table-info-button {
      margin-top: 24px;

      li {
        cursor: pointer;
        background-color: $COLOR-WHITE;
        color: $COLOR-BACKGROUND-LIGHT;

        &:hover {
          background-color: $COLOR-BACKGROUND-LIGHT;
          color: $COLOR-WHITE;
        }
      }
    }
  }
}

.video-wrapper-sizer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  .video-wrapper {
    position: relative;
    margin: 1rem auto;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.video-wrapper-16x9 {
      padding-bottom: 56.25%;
    }
  }
}
