---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $FONT-SIZE-DESKTOP;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include media-query(MOBILE) {
    font-size: $FONT-SIZE-MOBILE;
  }
}

body {
  --color-bg: #{$COLOR-BACKGROUND-DARK};
  &.manual { --color-bg: #{$COLOR-BACKGROUND-LIGHT}; }

  margin: 0 auto;
  padding: 0;
  background-color: var(--color-bg);
  color: $COLOR-TEXT;
  font-family: $FONT-TEXT;
  font-weight: 300;
  box-sizing: border-box;
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration: line-through; }

a {
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

.home-wrapper {
  width: 100vw;
  height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-image-wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    width: calc(58vh - 40px);
    height: calc(58vh - 40px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      width: 70vw;
      height: 70vw;
    }

    .home-page-labels-container {
      position: absolute;
      color: $COLOR-WHITE;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;

      @include media-query(MOBILE) {
        font-size: 14px;
      }

      &.horizontal {
        width: 130%;
        flex-direction: row;

        .este {
          padding-right: 4%;
        }
      }

      &.vertical {
        height: 118%;
        padding: 0 0 3.3vh;
        flex-direction: column;
      }

      .home-page-label {
        pointer-events: all;
        cursor: pointer;
        user-select: none;

        &.current {
          color: $COLOR-RED;
        }

        &.current.hover {
          color: $COLOR-BLUE;
        }

        .label-title {
          display: block;
          &.hide {
            display: none;
          }
        }

        .label-time {
          font-size: 0.8 * $FONT-SIZE-DESKTOP;
          max-width: 90px;
          display: none;
          @include media-query(MOBILE) {
            font-size: 0.8 * 0.8 * $FONT-SIZE-DESKTOP;
          }

          &.show {
            display: block;
          }
        }
      }
    }
  }

  .home-svg {
    width: 100%;
    height: 100%;
    padding: 0 0 22px;
    box-sizing: border-box;
  }

  .home-group {
    .home-path-oeste, .home-path-este, .home-path-cielo, .home-path-suelo {
      pointer-events: none;
      stroke: #ffffff;
      &.current {
        stroke: $COLOR-RED;
      }
      &.current.hover {
        stroke: $COLOR-BLUE;
      }
    }

    .home-path-hover {
      stroke: #ff00ff00;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 0;
  padding: 0 4vw;
  margin: 0 0 10vh;
  background-color: var(--color-bg);
  box-sizing: border-box;
  text-align: center;

  &.manual {
    color: $COLOR-WHITE;
    a { color: $COLOR-WHITE; }
  }

  &.info {
    .info-subtitle {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .info-sub-subtitle {
      font-size: 18px;
      font-weight: bold;
      margin-top: 24px;
    }
    .info-sub-subtitle + .info-sub-subtitle {
      margin-top: 12px;
    }
    .info-sub-subtitle + p {
      margin-top: 0;
    }
  }

  .logo-mincul-wrapper {
    width: 20%;
    margin: 48px auto;

    @include media-query(MOBILE) {
      width: 40%;
    }

    .logo-mincul {
      width: 100%;
      padding-bottom: 34.6%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url({{ site.baseurl }}/images/logoMINCUL.png);
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7vh;
  padding: 2vh 2vw;
  box-sizing: border-box;
  z-index: 10;
  color: $COLOR-WHITE;
  a { color: $COLOR-WHITE; }
  pointer-events: none;

  @include media-query(MOBILE) {
    height: 6vh;
    padding: 1vh 2vw;
  }

  &.manual {
    .footer-right-item.manual {
      color: $COLOR-BACKGROUND-DARK;
    }
  }

  &.info {
    .footer-right-item.plus {
      color: $COLOR-RED;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    font-size: $FONT-SIZE-FOOTER;

    @include media-query(MOBILE) {
      font-size: 0.9 * $FONT-SIZE-MOBILE;
    }

    &.este, &.oeste, &.cielo, &.suelo {
      color: $COLOR-RED;
    }

    .footer-title {
      padding: 0;
      padding-right: 6px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 1px;

      @include media-query(MOBILE) {
        font-size: 18px;
      }

      &.este::before { content: "este"; }
      &.oeste::before { content: "oeste"; }
      &.cielo::before { content: "cielo"; }
      &.suelo::before { content: "suelo"; }
    }

    .footer-time {
      padding: 0;
      padding-left: 6px;
      &.este::before { content: "abierto de 04:00 a 10:00 GMT-5"; }
      &.oeste::before { content: "abierto de 16:00 a 22:00 GMT-5"; }
      &.cielo::before { content: "abierto de 22:00 a 04:00 GMT-5"; }
      &.suelo::before { content: "abierto de 10:00 a 16:00 GMT-5"; }
    }
  }

  .footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;

    .footer-right-item {
      width: 20%;
      padding: 0;
      display: flex;
      flex-direction: row;
      text-align: center;
      font-weight: bold;
      font-size: $FONT-SIZE-FOOTER;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      pointer-events: all;

      @include media-query(MOBILE) {
        font-size: 0.9 * $FONT-SIZE-MOBILE;
      }

      &.plus::before {
        content: "+";
        font-size: 24px;
      }
      &.plus:hover::before {
        content: "información & créditos";
        font-size: $FONT-SIZE-FOOTER;
        @include media-query(MOBILE) {
          font-size: $FONT-SIZE-MOBILE;
        }
      }

      &.manual {
        min-width: 128px;
        @include media-query(MOBILE) {
          min-width: 120px;
        }
      }
      &.manual::before {
        content: "manual del aire";
        text-transform: uppercase;
      }

      &.manual:hover::before {
        content: "ejercicios respiratorios";
        text-transform: none;
      }
    }

    .footer-right-item + .footer-right-item {
      padding-left: 24px;
      @include media-query(MOBILE) {
        padding-left: 12px;
      }
    }
  }
}

.frame-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 4;
  pointer-events: none;

  .frame-top {
    position: relative;
    width: 100%;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-color: var(--color-bg);

    background-image: url({{ site.baseurl }}/images/frame-top-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-top-M.png);
    }
    @include media-query(MOBILE) {
      padding-bottom: 10.68%;
      background-image: url({{ site.baseurl }}/images/frame-top-S.png);
    }

    .frame-top-click {
      position: absolute;
      top: 39%;
      width: 100%;
      height: 12%;
      cursor: pointer;
      pointer-events: all;

      @include media-query(TABLET) {
        top: 44%;
      }
      @include media-query(MOBILE) {
        top: 44%;
      }
    }

    .frame-title-click {
      position: absolute;
      top: 0;
      left: 42%;
      width: 16%;
      height: 98%;
      cursor: pointer;
      pointer-events: all;

      @include media-query(TABLET) {
        left: 41%;
        width: 18%;
      }
      @include media-query(MOBILE) {
        left: 38%;
        width: 24%;
      }
    }
  }

  .frame-middle {
    position: relative;
    width: 100%;
    flex: 1;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    background-image: url({{ site.baseurl }}/images/frame-middle-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-middle-M.png);
    }
    @include media-query(MOBILE) {
      background-image: url({{ site.baseurl }}/images/frame-middle-S.png);
    }

    .frame-side-click {
      position: absolute;
      width: 1.5%;
      height: 114%;
      top: -7%;
      z-index: 12;
      cursor: pointer;
      pointer-events: all;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }

  .frame-bottom {
    position: relative;
    width: 100%;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    background-color: var(--color-bg);

    background-image: url({{ site.baseurl }}/images/frame-bottom-L.png);

    @include media-query(TABLET) {
      background-image: url({{ site.baseurl }}/images/frame-bottom-M.png);
    }
    @include media-query(MOBILE) {
      padding-bottom: 10.68%;
      background-image: url({{ site.baseurl }}/images/frame-bottom-S.png);
    }

    .frame-bottom-click {
      position: absolute;
      bottom: 33%;
      width: 100%;
      height: 14%;
      cursor: pointer;
      pointer-events: all;

      @include media-query(TABLET) {
        bottom: 37%;
      }
      @include media-query(MOBILE) {
        bottom: 37%;
      }
    }

    .frame-image-click {
      position: absolute;
      top: 15%;
      left: 45%;
      width: 10%;
      height: 77%;
      cursor: pointer;
      pointer-events: all;

      @include media-query(TABLET) {
        left: 44%;
        width: 12%;
      }
      @include media-query(MOBILE) {
        left: 42%;
        width: 16%;
      }
    }
  }

  .frame-bottom-background {
    width: 100%;
    height: 3vh;
    background-color: var(--color-bg);
  }
}

.manual-table {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 8vh auto 0;
  box-sizing: border-box;

  @include media-query(MOBILE) {
    flex-direction: column;
  }

  .manual-table-image-wrapper {
    width: 50%;
    padding: 0 8vw;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      width: 80%;
      margin: 0 auto 24px;
    }

    .manual-table-image {
      width: 100%;
      padding-bottom: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url({{ site.baseurl }}/images/manual-0.png);

      &:hover {
        background-image: url({{ site.baseurl }}/images/manual-1.png);
      }
    }
  }

  .manual-table-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      width: 80%;
      margin: 0 auto;
    }

    .manual-table-info-list {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      padding-inline-start: unset;

      li {
        list-style-type: none;
        margin: 0;
        padding: 2px 8px;
        text-align: left;
        border: 1px solid $COLOR-WHITE;
      }
      li + li {
        border-top: none;
      }
    }

    .manual-table-info-button {
      margin-top: 24px;

      li {
        cursor: pointer;
        background-color: $COLOR-WHITE;
        color: $COLOR-BACKGROUND-LIGHT;

        &:hover {
          background-color: $COLOR-BACKGROUND-LIGHT;
          color: $COLOR-WHITE;
        }
      }
    }
  }

  &.manual-form-table {
    margin-top: 0;
    overflow: hidden;

    .manual-form {
      max-height: 0;
      transition: max-height .5s linear;

      li{
        padding-bottom: 8px;
      }

      input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        padding: 2px 6px;
        font-size: $FONT-SIZE-DESKTOP;
        color: $COLOR-WHITE;
        background-color: rgba(255,255,255,.2);

        @include media-query(MOBILE) {
          font-size: $FONT-SIZE-MOBILE;
        }
      }

      .manual-form-status {
        display: none;
      }
    }
  }
}

.video-with-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
  padding: 0;
  box-sizing: border-box;

  .video-title {
    width: 5%;
    max-width: 50px;
    height: 0;
    padding-bottom: 50vh;
    margin-right: 12px;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .video-wrapper-sizer {
    margin: 0;
  }
}

.video-wrapper-sizer {
  width: 800px;
  height: 450px;
  margin: 0 auto 40px;

  .video-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
