<div class="frame-wrapper">
  <div id="my-frame-top" class="frame-top">
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-top-click"></a>
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-title-click"></a>
  </div>

  <div id="my-frame-middle" class="frame-middle">
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-side-click left"></a>
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-side-click right"></a>
  </div>

  <div id="my-frame-bottom" class="frame-bottom">
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-bottom-click"></a>
    <a href="{{ site.baseurl }}/{{ PAGE_LANG_URL }}" class="frame-image-click"></a>
  </div>

  <div class="frame-bottom-background"></div>
</div>
