{% assign PAGE_LANG = 'es' %}
{% assign PAGE_LANG_URL = '' %}
{% assign STRING_ESTE = 'este' %}
{% assign STRING_OESTe = 'oeste' %}
{% assign STRING_CIELO = 'cielo' %}
{% assign STRING_SUELO = 'suelo' %}
{% assign STRING_ABIERTO = 'abierto de' %}


{% if page.url contains '/en/' %}
  {% assign PAGE_LANG = 'en' %}
  {% assign PAGE_LANG_URL = 'en/' %}
  {% assign STRING_ESTE = 'east' %}
  {% assign STRING_OESTE = 'west' %}
  {% assign STRING_CIELO = 'sky' %}
  {% assign STRING_SUELO = 'ground' %}
  {% assign STRING_ABIERTO = 'open from' %}
{% endif %}
