$FONT-TEXT: 'PT Sans', sans-serif;

$COLOR-BACKGROUND-DARK: #000000;
$COLOR-BACKGROUND-LIGHT: #BFC3C4;
$COLOR-RED: #83152D;
$COLOR-BLUE: #2E5B6D;
$COLOR-WHITE: #FFFFFF;
$COLOR-TEXT: #A8A3A3;

$COLOR-LINK: $COLOR-TEXT;
$COLOR-LINK-HOVER: $COLOR-TEXT;

$FONT-SIZE-FOOTER: 16px;
$FONT-SIZE-DESKTOP: 15px;
$FONT-SIZE-MOBILE: 14px;

$TRANSITION-PERIOD: 0.1s;

$DESKTOP-WIDTH-MIN: 800px;
$TABLET-WIDTH-MIN: 1000px;

@mixin media-query($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $DESKTOP-WIDTH-MIN) { @content; }
  }
  @else if $canvas == TABLET {
   @media only screen and (max-width: $TABLET-WIDTH-MIN) { @content; }
  }
}
