{% assign slug = page.permalink | replace:'/','' %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="{{ slug }}">
    {% include frame.html %}
    <div id="my-page-wrapper" class="page-wrapper {{ slug }}">
      <div class="content-top">
        <div class="video"></div>
        <div id="my-content-text" class="content-text">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html slug=slug %}

  </body>
  <script type='text/javascript' src="{{ site.baseurl }}/js/times.js"></script>
  <script type='text/javascript' src="{{ site.baseurl }}/js/content.js"></script>

  {% if slug == 'manual' or slug == 'info' %}
    <script type='text/javascript' src="{{ site.baseurl }}/js/fix-footer.js"></script>
  {% elsif slug == 'este' or slug == 'oeste' or slug == 'cielo' or slug == 'suelo' %}
    <script type='text/javascript' src="{{ site.baseurl }}/js/check-time.js"></script>
  {% endif %}

  {% if slug == 'manual' %}
    <script type='text/javascript' src="{{ site.baseurl }}/js/manual.js"></script>
  {% endif %}
</html>
