<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="content-wrapper">
      <div class="content-top">
        <div class="video"></div>
        <div class="content-text">
          {{ content }}
        </div>
      </div>

      <div class="content-footer">
        <div class="content-footer-left {{ page.permalink | replace:'/','' }}">
          <div class="content-footer-left-title {{ page.permalink | replace:'/','' }}"></div>
          <div class="content-footer-left-time {{ page.permalink | replace:'/','' }}"></div>
        </div>

        <div class="content-footer-right">
          <div class="content-footer-right-item plus"></div>
          <div class="content-footer-right-item manual"></div>
        </div>
      </div>
    </div>
  </body>
</html>
