<!DOCTYPE html>

{% assign slug = page.permalink | replace:'/','' %}

<html>
  <head>
    {% include head.html %}
  </head>
  <body class="{{ slug }}">
    {% include frame.html %}
    <div id="my-page-wrapper" class="page-wrapper {{ slug }}">
      <div class="content-top">
        <div class="video"></div>
        <div class="content-text">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html slug=slug %}

  </body>
  <script type='text/javascript' src="{{ site.baseurl }}/js/content.js"></script>
  {% if slug == 'manual' or slug == 'info' %}
    <script type='text/javascript' src="{{ site.baseurl }}/js/time-title.js"></script>
  {% endif %}
</html>
